<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163753583-3"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-163753583-3');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <title><%=title%></title>

<style>
    body{background: #eee url(https://subtlepatterns.com/patterns/sativa.png);}
  body{
      position: relative;
      min-height: 100vh;
  }

  .login-container{
      position: relative;
      width: 300px;
      margin: 80px auto;
      padding: 20px 40px 40px;
      text-align: center;
      background: #fff;
      border: 1px solid #ccc;
  }

  #output{
      position: absolute;
      width: 300px;
      top: -75px;
      left: 0;
      color: #fff;
  }

  #output.alert-success{
      background: rgb(25, 204, 25);
  }

  #output.alert-danger{
      background: rgb(228, 105, 105);
  }


  .login-container::before,.login-container::after{
      content: "";
      position: absolute;
      width: 100%;height: 100%;
      top: 3.5px;left: 0;
      background: #fff;
      z-index: -1;
      -webkit-transform: rotateZ(4deg);
      -moz-transform: rotateZ(4deg);
      -ms-transform: rotateZ(4deg);
      border: 1px solid #ccc;

  }

  .login-container::after{
      top: 5px;
      z-index: -2;
      -webkit-transform: rotateZ(-2deg);
       -moz-transform: rotateZ(-2deg);
        -ms-transform: rotateZ(-2deg);

  }

  .avatar{
      width: 100px;height: 100px;
      margin: 10px auto 30px;
      border-radius: 100%;
      border: 2px solid #aaa;
      background-size: cover;
  }

  .form-box input{
      width: 100%;
      padding: 10px;
      text-align: center;
      height:40px;
      border: 1px solid #ccc;;
      background: #fafafa;
      transition:0.2s ease-in-out;

  }

  .form-box input:focus{
      outline: 0;
      background: #eee;
  }

  .form-box input[type="text"]{
      border-radius: 5px 5px 0 0;
      text-transform: lowercase;
  }

  .form-box input[type="password"]{
      border-radius: 0 0 5px 5px;
      border-top: 0;
  }

  .form-box button.login{
      margin-top:15px;
      padding: 10px 20px;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

</style>

</head>
<body style="margin: 0;padding: 0;">

  <header id="main-header" class="py-4 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Retymee Admin Panel</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->


  <!-- LOGIN -->
  <section id="login">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-white">
            <form action="/admin/login" method="POST">
              <div class="container">
                <div class="login-container">
                    <div id="output"></div>
                    <center><img id="profile-img" class="profile-img-card rounded-circle my-3" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" style="width: 80px;height: 80px" /></center>
                    <div class="form-box">
                      <%- include('../_layout/admin_errors') %>
                      <input type="text" name="login_email" placeholder="Email">
                      <input type="password" name="login_password"  placeholder="Password">
                      <button class="btn btn-dark btn-block btn-block mb-3 my-2" type="submit">Login</button>
                    </div>
                </div>    
              </div>
            </form>
        </div>
      </div>
    </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>