#actions .col-md-4 .card {
  background-color: white; }
  #actions .col-md-4 .card h5 {
    text-transform: uppercase; }

    body {
      font-family: 'Open Sans', sans-serif;
      margin: 0; }
    
    * {
      font-family: 'Open Sans', sans-serif;}