@media only screen and (max-width: 1024px) {
	/* Home page */
	#banner{
		height: 25rem !important;
	}
	#banner .row .col1 h1 {
		font-size: 2.6rem !important;
		margin-top: 4rem;
		text-align: center !important;
	}
	#banner .row .col1 h4 {
		font-size: 16px !important;
		margin-top: 1rem;
		text-align: center !important;
	}
	#banner .row .col1 a {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


@media only screen and (max-width: 600px) {
	/* Home page */
	#banner{
		height: 25rem !important;
	}
	#banner .row .col1 h1 {
		font-size: 2.6rem !important;
		margin-top: 4rem;
		text-align: center !important;
	}
	#banner .row .col1 h4 {
		font-size: 16px !important;
		margin-top: 1rem;
		text-align: center !important;
	}
	#banner .row .col1 a {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.vegas-wrapper .container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.vegas-wrapper .container a{
		font-size: 1rem;
	}
	#count .fa{
		font-size: 25px;
	}
	#count .counter {
		font-size: 25px !important;
	}
	#count h4 {
		font-size: 16px !important;
	}
	.btn {
		font-size: 14px !important;
	}
	h2 {
		font-size: 24px !important;
	}
	.logowrapper {
		display: flex;
		flex-direction: row;
		justify-content: center !important;
	}
	.a ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 20px;
	}
	.a ul li{
		margin: 0 !important;
	}
	#instructor img{
		width: 120px !important;
		height: 120px !important;
	}
	#instructor h4{
		font-size: 18px;
	}
	#instructor h6{
		font-size: 13px;
	}
	#header-bottom .container .row .col-md-4{
		justify-content: flex-start !important;
	}
	#header-bottom .container .row .col-md-4 div{
		justify-content: flex-start !important;
	}
	#header-bottom .container .row .col-md-4 div .p-4{
		width: 12%;
		margin-right: 40px;
	}
	#header-bottom .container .row .col-md-4 div .p-4 .fa{
		font-size: 35px !important;
	}
	#header-bottom .container .row .col-md-4 div .p-8 h4{
		font-size: 20px !important;
	}
	#header-bottom .container .row .col-md-4 div .p-8 h6{
		font-size: 14px !important;
	}
	#university .card img{
		width: 8rem !important;
		height: 4rem !important;
	}

	#site-description img {
		display: none;
	}

	#be-instructor h2{
		font-size: 20px;
	}
	#be-instructor h5{
		font-size: 15px;
	}

	/* Teacher demand form */
	.contact-banner .col1 h1 {
		font-size: 30px !important;
		margin-top: 1.65em !important;
	}

	#contact h2{
		font-size: 25px !important;
	}

	/* Dashboard */
	#side-bar {
		position: relative;
		width: 100%;
		display: block;
		height: auto;
	}
	#side-bar .menus{
		flex-direction: row !important;
		justify-content: space-around;
	}
	#side-bar .menus .col-sm-4{
		width: 24% !important;
		align-items: center;
		margin-top: 10px !important;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5px !important;
		padding-bottom: 20px !important;
	}
	#side-bar .menus .col-sm-4 a{

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#header {
		margin-left: 0 !important;
	}
	#header h1{
		font-size: 30px;
	}
	#header img{
		width: 100px;
		height: 100px;
		margin-top: 15px;
	}
	#my-courses {
		margin: 0 !important;
	}
	#my-courses h1{
		font-size: 25px !important;
		text-align: center;
	}
	#my-courses .col-md-12 .d-flex{
		flex-direction: column !important;
		align-items: stretch !important;
		justify-content: stretch !important;
	}
	#my-courses .col-md-12 .d-flex a{
		width: 100% !important;
	}

	.discuss-layout {
		margin: 0 !important;
	}
	.discuss-layout h3{
		font-size: 20px !important;
	}
	.discuss-layout h4{
		font-size: 18px !important;
	}
	.discuss-layout h5{
		font-size: 16px !important;
	}
	#courses-support-section {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 0 !important;
		margin-bottom: 1rem !important;
	}
	#courses-support-section h4{
		text-align: center !important;
	}
	#discuss-body-section {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	#discuss-form .col-md-11{
		width: 100% !important;
	}
	#discuss-form .col-md-1{
		width: 20% !important;
	}
	#chat-bloc #your-msg{
		margin-left: 0 !important;
	}
	#chat-bloc #my-msg{
		margin-left: 0 !important;
	}
	#chat-bloc .imagewrapper{
		display: none !important;
	}
	
	/* course detail */
	.courses-banner {
		height: 17rem !important;
	}
	.courses-banner h1 {
		font-size: 32px !important;
		margin-top: 70px !important;
		text-align: center !important;
	}
	.courses-banner a {
		display: block !important;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px !important;
	}
	#overlay > div {
		padding: 0 !important
	}
	.course-description {
		height: 17rem !important;
	}
	.course-description h1{
		font-size: 32px !important;
		margin-top: 80px !important;
		text-align: center !important;
	}
	#course-details h1 {
		font-size: 30px;
	}
	#course-details h5 {
		font-size: 16px;
	}
	#course-details h4 {
		font-size: 20px;
	}
	#course-details .right-content {
		padding: 1.2rem !important;
	}

	/* Account edition view*/
	#edit-account {
		margin-left: 0;
		margin-right: 0;
	}
	#edit-account h2{
		font-size: 18px !important;
		font-weight: bold;
	}
	#edit-account h6{
		font-size: 15px !important;
	}

	/* Discuss group */
	#keyboard {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 0 !important;
	}

	.uploaded-img {
		width: 100% !important;
	}

	#discuss-header {
		display: block !important;
		position: relative !important;
	}

	/* #keyboard .clavier i {
		position: relative !important;
		right: 10px !important;
		border-radius: 50%;
		background-color: #004368;
		color: white;
		padding: 8px;
		left: 0;
	} */

	#keyboard .clavier .image-upload {
		position: relative !important;
		top: 5px !important;
		right: 0 !important;
	}

	/* footer */
	footer .container img {
		width: 35px;
		height: 35px;
	}
	#main-footer .p-2 {
		margin-right: 7px !important;
	}

	/* Quiz */
	#quiz-builder, #quiz-dashboard, #quiz-results, #quiz, #quiz-preview  {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}






@media only screen and (max-width: 1024px) {
	.uploaded-img {
		width: 100% !important;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}