<%- include('../_layout/header') %>

    <section class="courses-banner">
        <div class="container-fluid" style="width: 90%">
            <div id="overlay">
                <div class="row">
                    <div class="col1 col-md-8">
                        <h1>Développez vos aptitudes</h1>
                        <h4>WNous proposons aux étudiants, aux élèves et aux professionnels,
                            une aide aux cours et apprentissage en ligne.</h4>
                            <a href="#ongoing-courses-concours" class="btn btn-danger my-2 btn-lg">Enregistrez vous à un cours maintenant</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- Ongoing Prepa Courses Section -->
    <section id="ongoing-courses-concours" class="py-3" style="z-index: -1;">
        <div class="container">
                <h2 class="display-5  mb-5 mt-5 text-center"><strong> Tous les cours</strong><hr></h2>
            <div class="row mb-4 justify-content-center">
                <div class="col-md-6 col-lg-3 col-sm-10 my-2">
                    <div class="card">
                        <img class="card-img-top" src="img/ai.jpg" class="img-fluid" height="150" alt="Card image cap">
                        <center>
                            <div id="view-details" class="text-center">
                                <a href="" ><i class="fa fa-search"></i></a>
                            </div>
                        </center>
                        <div class="card-block pt-0">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                            <p class="card-text">
                                <small>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>&nbsp;
                                    (122 votes)
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="img/ai.jpg" class="img-fluid" height="150" alt="Card image cap">
                        <center>
                            <div id="view-details" class="text-center">
                                <a href="" ><i class="fa fa-search"></i></a>
                            </div>
                        </center>
                        <div class="card-block pt-0">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                            <p class="card-text">
                                <small>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>&nbsp;
                                    (122 votes)
                                </small>
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="img/ai.jpg" class="img-fluid" height="150" alt="Card image cap">
                        <center>
                            <div id="view-details" class="text-center">
                                <a href="" ><i class="fa fa-search"></i></a>
                            </div>
                        </center>
                        <div class="card-block pt-0">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                            <p class="card-text">
                                <small>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>&nbsp;
                                    (122 votes)
                                </small>
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="img/ai.jpg" class="img-fluid" height="150" alt="Card image cap">
                        <center>
                            <div id="view-details" class="text-center">
                                <a href="" ><i class="fa fa-search"></i></a>
                            </div>
                        </center>
                        <div class="card-block pt-0">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                            <p class="card-text">
                                <small>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>&nbsp;
                                    (122 votes)
                                </small>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
            <center><a href="" id="all-prepa-courses" class="btn btn-lg mt-3">Parcourir pour plus de cours</a></center>
        </div>
    </section>


<%- include('../_layout/footer') %>