<%- include('../_layout/header') %>

    <section class="courses-banner">
        <div class="container-fluid" style="width: 90%">
            <div id="overlay">
                <div class="row">
                    <div class="col1 col-md-8">
                        <h1>Développez vos aptitudes</h1>
                        <h4 class="d-none d-md-block d-lg-block d-xl-block">Nous proposons aux étudiants, aux élèves et aux professionnels,
                            Une aide aux cours et apprentissage en ligne.</h4>
                            <a href="#ongoing-courses-concours" class="btn btn-danger my-2 btn-lg">Enregistrez vous à un cours maintenant</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- Ongoing Prepa Courses Section -->
    <section id="ongoing-courses-concours" class="py-3" style="z-index: -1;">
        <div class="container">
                <h2 class="display-5  mb-5 mt-5 text-center"><strong>Cours de Répétitions</strong><hr></h2>
            <div class="row mb-4">
                <div class="col">
                    <h4 class="text-center my-4">Pas disponible pour le moment...</h4>
                </div>
            </div>
            <center><a href="" id="all-prepa-courses" class="btn btn-lg mt-3">Parcourir plus de cours</a></center>
        </div>
    </section>


<%- include('../_layout/footer') %>