<%- include('../_layout/header') %>

    <section class="update-password">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-12">
                    <h4>Mot de passe oublié ?</h4>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <%- messages('messages', locals) %>
                    <% if (errors){%>
                    <% errors.forEach(function(error){ %>
                        <div class="alert alert-danger">
                        <%=error.msg%>
                        </div>
                    <%});%>
                    <%}%>
                </div>
            </div>
        </div>
    </section>
   <section class="reset-password" id="reset-password">
        <div class="container">
           <div class="row justify-content-center align-items-center">
                <div class="col-sm-6">
                    <form action="/user/reset-password" class="d-flex flex-column justify-content-end" method="POST" id="update-pass-form-email" data-parsley-validate>
                        <h4 class="mb-3">Recupérez votre mot de passe</h4>
                        <p>Veuillez entrer votre adresse email.</p>
                        <input type="email" name="email" required id="email" class="form-control" placeholder="Adresse Email">
                        <div class="form-check mt-2 mr-sm-2">
                            <input class="form-check-input" type="checkbox" name="isTeatcher" id="isTeatcher" placeholder="Je suis un enseignant" value="Je suis un enseignant" />
                            <label class="form-check-label" for="isTeatcher">
                                Je suis un enseignant
                            </label>
                        </div>
                        <input type="submit" class="btn button mt-3" value="Valider">
                    </form>
                </div>
           </div>
        </div>
    </section>

<%- include('../_layout/footer') %>