<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/upload.css">
        <link rel="stylesheet" href="/css/media.css">
        <link rel="stylesheet" href="/css/quiz.css">
        <link rel="stylesheet" href="/css/jquery.datetimepicker.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <title><%=title%></title>
    </head>

    <body>
        <section id="side-bar">
            <div class="container-fluid">
                <div class="row text-center pt-4 d-flex flex-column menus">
                    <div class="col-sm-4 col-md-12 pt-4 pb-3">
                        <a href="/"><i class="fa fa-home"></i><span style="color: white;font-size: 12px">Accueil</span></a>
                    </div>
                    <div class="col-sm-4 col-md-12 pt-2 pb-3">
                        <a href="/student/dashboard"><i class="fa fa-book"></i><span style="color: white;font-size: 12px">Dashboard</span></a>
                    </div>
                    <div class="col-sm-4 col-md-12 pt-2 pb-3">
                        <a href="/student/dashboard/edit-account"><i class="fa fa-gear"></i><span style="color: white;font-size: 12px">Compte</span></a>
                    </div>
                    <div class="col-sm-4 col-md-12 pt-2 pb-3 mt-auto" >
                        <a href="/student/logout"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i><span style="color: white;font-size: 12px">Log Out</span></a>
                    </div>
                </div>
            </div>
        </section>