<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/slick/slick.css">
        <link rel="stylesheet" href="/css/slick/slick-theme.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/media.css">
        <link rel="stylesheet" href="/css/parsley.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/seach-bar.css">
        <link rel="stylesheet" href="/css/vegas.min.css">
        <title><%=title%></title>
    </head>

    <body>
        <section id="side-bar" style="display: flex;height: 100%;overflow: auto;">
            <div class="container-fluid">
                <div class="row text-center pt-4">
                    <div class="col-md-12 pt-2 pb-3">
                        <a href="/"><i class="fa fa-home"></i><span style="color: white;font-size: 12px">Home</span></a>
                    </div>
                    <div class="col-md-12 pt-2 pb-3">
                        <a href="/student/dashboard"><ion-icon name="bookmarks"></ion-icon><span style="color: white;font-size: 12px">Dashboard</span></a>
                    </div>
                    <div class="col-md-12 pt-2 pb-3">
                        <a href="/student/dashboard/edit-account"><i class="fa fa-gear"></i><br><span style="color: white;font-size: 12px">Account</span></a>
                    </div>
                    <div class="col-md-12" style="position: relative;bottom: -15em;">
                        <a href="/student/logout"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i><span style="color: white;font-size: 11px">Log Out</span></a>
                    </div>
                </div>
            </div>
        </section>