
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/chat.js"></script>
        <script src="/js/parsley.min.js"></script>
        <script src="/js/quiz.js"></script>
        <script src="/js/jquery.datetimepicker.full.min.js"></script>
        <script src="/js/form_validate.js"></script>
    </body>
</html>