        <!-- Footer Section-->
        <footer id="main-footer" class="text-center text-white bg-inverse">
            <div class="container-fluid  pt-5 pb-3 ">
                <h3 class="text-center"><strong>OnlinePrepa</strong></h3>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <p style="font-size: 15px" class="text-muted">Copyright &copy; OnlinePrepa 2018</p>
                    </div>
                </div>
            </div>
        </footer>
            



        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/tether.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <script src="/js/navbar-fixed.js"></script>
        <script src="/css/slick/slick.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/chat.js"></script>
        <script src="/js/parsley.min.js"></script>
        <script src="/js/form_validate.js"></script>
        <script src="/js/vegas.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
        <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
    </body>
</html>