/        <!-- Footer Section-->
        <footer id="main-footer" class="text-center text-white bg-inverse">
            <div class="container  pt-4 ">
                <h3 class="text-center"><strong>Retymee</strong></h3>
                <hr width="90%" style="background-color:gray;">
                <div class="row py-4">
                    <div class="col-md-5 align-self-center pb-4">
                        <h3 class="display-6 mb-3">Ecrivez nous</h3>
                        <form action="" class="pr-5 pl-5" data-parsley-validate data-parsley-required>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" placeholder="Nom" class="form-control" data-parsley-required data-parsley-errors-container="#e">
                                </div><span id="e"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="email" placeholder="Email" class="form-control" data-parsley-required data-parsley-errors-container="#f">
                                </div><span id="f"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <textarea type="text" placeholder="Message" rows="3" class="form-control" data-parsley-required  data-parsley-required data-parsley-errors-container="#g"></textarea>
                                </div><span id="g"></span>
                            </div>
                            <input type="submit" name="register-newsletter" value="Envoyer" class="btn btn-block btn-danger">
                        </form>
                    </div>
                    <div class="col-md-7 justify-content-center">
                        <h3 class="display-6 mb-4">Contact</h3>
                        <div class="d-flex flex-column">
                            <div class="p-6 "><i class="fa fa-phone" ></i> &nbsp; Phone : 655891462</div>
                            <div class="p-6"><i class="fa fa-map-marker" style="color:rgba(238, 56, 56, 0.897);"></i> &nbsp; Yaounde, Chapelle Nsimeyong</div>
                            <div class="p-6"><i class="fa fa-envelope-open-o"></i> &nbsp; contact.retymee@gmail.com</div>
                        </div>
    
                        <hr width="70%" style="background-color:gray;">
                        <h3 class="display-6 mb-4 mt-5">Suivez nous</h3>
                        <div class="flex-row d-flex justify-content-center">
                            <div class="p-2 mr-3"><a href="https://www.facebook.com/inchtechs" target="_blank"><img src="/img/icons/facebook.png" alt=""></a></div>
                            <div class="p-2 mr-3"><a href="https://www.instagram.com/inchtechss" target="_blank"><img src="/img/icons/insta.png" alt=""></a></div>
                            <div class="p-2 mr-3"><a href="https://twitter.com/_InchTechs" target="_blank"><img src="/img/icons/twitter.png" alt=""></a></div>
                            <div class="p-2 mr-3"><a href="https://www.youtube.com/channel/UCs0QiaFyPDFFCYAr8doNJvw" target="_blank"><img src="/img/icons/youtube.png" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <p>Copyright &copy; 2020. Powered by <a href="inchtechs.com">Inchtech's</a></p>
                    </div>
                </div>
            </div>
        </footer>



        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/tether.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <script src="/js/navbar-fixed.js"></script>
        <script src="/css/slick/slick.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/parsley.min.js"></script>
        <script src="/js/form_validate.js"></script>
        <script src="/js/login_signup.js"></script>
        <script src="/js/vegas.min.js"></script>
        <script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
 
    </body>